---
interface Props {
  features: Array<{
    title: string;
    description: string;
    icon?: string;
  }>;
}

const { features } = Astro.props;
---

<section class="py-16 px-4">
  <div class="max-w-7xl mx-auto">
    <div class="grid gap-8 grid-cols-2">
      {
        features.map((feature) => (
          <div class="flex gap-10 bg-neutral-100 p-6 rounded-lg">
            <div class="shrink-0 w-5 h-5 rounded-full bg-blue-600/10 border border-blue-600 flex items-center justify-center">
              <svg
                class="w-4 h-4 text-blue-600"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M5 13l4 4L19 7"
                />
              </svg>
            </div>
            <div class="flex flex-col">
              <h3 class="text-xl! font-semibold mb-3">{feature.title}</h3>
              <p class="text-neutral-500 text-sm">{feature.description}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
