---
interface Props {
  label?: string;
  title: string;
  description: string;
}

const { label = "THE PROBLEM", title, description } = Astro.props;
---

<section class="py-16 px-4">
  <div class="max-w-7xl mx-auto flex flex-col">
    <div class="bg-neutral-900 text-white rounded-2xl text-center p-14">
      {
        label && (
          <span class="text-sm font-semibold tracking-wider text-[#A9E000] uppercase block">
            {label}
          </span>
        )
      }
      <h2 class="text-3xl! text-white! font-medium my-5!">{title}</h2>
      <p class="text-base max-w-2xl mx-auto text-neutral-300">{description}</p>
    </div>
  </div>
</section>
