---
interface Props {
  label?: string;
  title: string;
  description: string;
}

const { label = "THE SOLUTION", title, description } = Astro.props;
---

<section class="py-16 px-4">
  <div class="max-w-7xl mx-auto flex flex-col">
    <div class="text-black! rounded-2xl text-center p-14">
      {
        label && (
          <span class="text-sm font-semibold tracking-wider text-blue-600 uppercase mb-4 block">
            {label}
          </span>
        )
      }
      <h2 class="text-3xl! text-black! font-medium my-5!">{title}</h2>
      <p class="text-base max-w-2xl mx-auto text-neutral-500">
        {description}
      </p>
    </div>
  </div>
</section>
