---
import BaseHead from "../components/BaseHead.astro";

import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main class="flex items-center justify-center h-screen">
      <a
        href="/blog"
        class="bg-neutral-900 text-white! text-base px-6 py-1 rounded-full"
      >
        See blogs</a
      >
    </main>
  </body>
</html>
