backend:
  name: git-gateway
  branch: main

media_folder: "src/assets/images"
public_folder: "/assets"

collections:
  - name: "blog"
    label: "Blog"
    folder: "src/content/blog"
    create: true
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Description", name: "description", widget: "text" }
      - { label: "Publish Date", name: "pubDate", widget: "datetime" }
      - {
          label: "Updated Date",
          name: "updatedDate",
          widget: "datetime",
          required: false,
        }
      - {
          label: "Hero Image",
          name: "heroImage",
          widget: "image",
          required: false,
        }
      - {
          label: "Tags",
          name: "tags",
          widget: "list",
          field: { name: "tag", widget: "string" },
        }
      - { label: "Author Name", name: "authorName", widget: "string" }
      - {
          label: "Author Image",
          name: "authorImage",
          widget: "image",
          required: false,
        }
      - {
          label: "Author Designation",
          name: "authorDesignation",
          widget: "string",
          required: false,
        }
      - { label: "Body", name: "body", widget: "markdown" }

  - name: "pages"
    label: "Pages"
    folder: "src/content/pages"
    create: true
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - {
          label: "Description",
          name: "description",
          widget: "text",
          required: false,
        }
      - { label: "Body", name: "body", widget: "markdown" }
